@model SimpleBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}